main {
	padding: 1em;
}

main > p:first-child {
	font-size: 0.9em;
	color: #999;
	text-align: right;
}

main > img {
	float: right;
	max-width: 300px;
	border-radius: 1em;
	margin-left: 2em;
}

h1, h2 {
	color: #41427b;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

ol {
	margin-bottom: 3em;
}