img {
	max-width: 100%;
}

h1 {
	color: #41427b;
	font-size: 2em;
}

h1.title {
	font-size: 3em;
	text-align: center;
}

section {
	padding: 1em;
}

section:not(:nth-of-type(1)) {
	display: flex;
}

aside {
	background-color: #cf312f;
	color: white;
	padding: 0.5em 1em;
	margin-left: 1em;
	margin-top: 2em;
	min-width: 35%;
}

li {
	margin-bottom: 0.5em;
}