@charset "UTF-8";

/* Font Faces */

@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeue-Regular.ttf');
}

@font-face {
	font-family: 'Familjen Grotesk';
	src: url('FamiljenGrotesk-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Familjen Grotesk';
	src: url('FamiljenGrotesk-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Familjen Grotesk';
	src: url('FamiljenGrotesk-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Familjen Grotesk';
	src: url('FamiljenGrotesk-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

/* Structural Styles */
html {
	background-color: #8c1d40;
}

body {
	background-color: white;
	font-family: 'Familjen Grotesk',sans-serif;
}

footer {
	background-color: #ffc627;
	padding-top: 5px;
	padding-bottom: 5px;
}

address {
	font-style: normal;
	font-size: .9em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Heading Styles */
h1, h2 {
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
}

/* Navigation Styles */
nav > ul {
	list-style-type: none;
	line-height: 2em;
	font-size: .9em;
	padding-left: 0px;
}

nav > ul > li > a {
	text-decoration: none;
	color: #8c1d40;
	padding-left: 40px;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
	background-color: #8c1d40;
	color: white;
}

/* Article Styles */
article#main_information > h1 {
	font-size: 2.2em;
	letter-spacing: .1em;
}
article#main_information > h2 {
	font-size: 1.6em;
}

article#main_information > p {
	font-size: 1.1em;
}

article#main_information > p:first-of-type::first-line {
	font-variant: small-caps;
	font-size: 1.2em;
}

/* Aside Styles */
aside#schedule {
	background-color: #eeeeee;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

aside#schedule > h1 {
	font-size: 1.5em;
}

aside#schedule > h2 {
	font-size: 1.1em;
}

aside#schedule > p.date-time {
	font-size: .9em;
}

aside#schedule > p.date-time {
	color: #8c1d40;
	font-weight: bold;
}
/* Footer Styles */
footer > address > a {
	color: black;
}